

body{
    background-color: lightcoral
}


[type = text]{
    padding: 10px;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
    text-align: center;
    padding: 20px;
}